html, body, #root{
  height: 100%;
  font-family: 'Itim', cursive;
}
  .app{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #FDD10A;
  }
    .main{
      display: flex;
      justify-content: center;
      width: 75%;
      height: 65%;
    }

    .welcome{
      color: #326f66;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      padding: 25px;
    }
      .welcome-instructions{
        font-size: 25px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
        .welcome-instructions h2{
          font-size: 50px;
          text-align: center;
          padding: 15px;
        }
        .welcome-instructions-intro{
          border: 3px solid #3994868a;
          border-radius: 5px;
          background-color: #399486af;
          line-height: 33px;
          padding: 20px;
          width: 680px;
          color: #FAF6E5;
        }
        .welcome-instructions ul{
          margin-top: 5px;
          border: 3px dashed #399487;
          border-radius: 5px;
          background-color: #FDD10A;
          padding: 10px;
          font-size: 20px;
          width: 700px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
          .welcome-instructions-howto{
            font-weight: 700;
            padding: 10px;
          }
          .welcome-instructions ul li{
            list-style-image: url('../images/list-leaf.png');
            line-height: 27px;
            font-size: 17px;
            width: 600px;
          }

        .welcome-fun{
          text-align: center;
          padding-top: 10px;
        }

        .welcome-start{
          display: flex;
          justify-content: space-evenly;
          flex-direction: column;
          align-items: center;
          height: 250px;
        }
          .welcome-start-name{
            border: 3px dashed #399487;
            border-radius: 5px;
            background-color: #FDD10A;
            text-align: center;
            height: 100px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            width: 700px;
            padding: 10px;
          }
            .welcome-start-name p{
              font-weight: 700;
            }
            .welcome-start-name label{
              width: 300px;
              height: 50px;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              font-size: 15px;
            }
              .welcome-start-name label input{
                width: 70%;
                height: 60%;
                background-color: #FAF6E5;
                padding: 10px 20px 10px 20px;
                border-radius: 5px;
              }
              .welcome-start label input::placeholder{
                text-align: center;
              }

.button-null{
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 3px;
  background-color: #399487;
  color: #FAF6E5;
  font-size: 25px;
}
.button{
  height: 50px;
  width: 150px;
  text-align: center;
  border-radius: 3px;
  background-color: #399487;
  color: #FDD10A;
  font-size: 25px;
}
  .button:hover{
    background-color: #326f66;
  }