html, body, #root{
  height: 100%;
}

.app{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #FDD10A;
}

.main{
  display: flex;
  justify-content: center;
}

.pick-default{
  color: green;
}

.pick-chosen{
  color: blue;
}

.pick-correct{
  color: purple;
}

.pick-incorrect{
  color: red;
}