.navbar{
  background-color: #59BBAC;
  display: flex;
  height: 275px;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-bottom: 10px solid #399487;
}
  .navbar-container{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
  }
    .logo{
      width: 250px;
    }
      .navbar-container div h1{
        font-size:75px;
        color: #FAF6E5;
      }

.footer{
  background-color: #399487;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: #FAF6E5;
  width: 100%;
}
  .footer div{
    width: 75%;
    display: flex;
    justify-content: space-evenly;
  }
    .footer a{
      font-size: 50px;
    }
      .footer a:hover{
        color: #FDD10A;
      }

@media only screen and (min-width: 1008px){
}

@media only screen and (max-width: 1007px){
}

@media only screen and (max-width: 640px){
}