.navbar{
  background-color: #4FBE4A;
  display: flex;
  height: 100px;
}
.footer{
  background-color: #4FBE4A;
  display: flex;
  height: 100px;
}

@media only screen and (min-width: 1008px){
  .navbar{
  }
}

@media only screen and (max-width: 1007px){
  .navbar{
  }
}

@media only screen and (max-width: 640px){
  .navbar{
  }
}